proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=STATIC:10m inactive=7d use_temp_path=off;

proxy_http_version                 1.1;

proxy_buffer_size                  256k;
proxy_buffers                      4 256k;
proxy_busy_buffers_size            256k;
proxy_temp_file_write_size         256k;
proxy_headers_hash_bucket_size     256;
proxy_headers_hash_max_size        1024;
proxy_read_timeout                 30s;
proxy_send_timeout                 30s;
proxy_connect_timeout              30s;


slice                              1m;
proxy_cache                        STATIC;
proxy_cache_methods                GET HEAD;
proxy_cache_lock                   on;
proxy_cache_lock_age               5s;
proxy_cache_lock_timeout           5s;
proxy_cache_use_stale              error timeout invalid_header updating http_500 http_502 http_503 http_504;
proxy_cache_valid                  200 302 30s;
proxy_cache_valid                  301 60s;
proxy_cache_valid                  any 1m;
proxy_cache_revalidate             on;
proxy_cache_background_update      on;
proxy_cache_bypass                 $http_pragma $cookie_nocache $arg_nocache;

upstream backend_upstream {
  server backend:5000;
}

server {
  listen  80 default_server;
  server_name  _;

  server_tokens off;
  gzip on;
  gzip_proxied any;
  gzip_comp_level 4;
  gzip_types text/css application/javascript image/svg+xml;
  add_header Access-Control-Allow-Origin *;

  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection 'upgrade';
  proxy_set_header Host $host;
  proxy_cache_bypass $http_upgrade;

  location / {
	    proxy_pass http://backend_upstream;
  }

}
