[Unit]
Before=network-pre.target docker.service
Wants=network-pre.target docker.service
Conflicts=ufw.service docker.service

[Service]
ExecStart=/etc/firewallsetup/firewall-reload

[Install]
WantedBy=multi-user.target

